<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="choiceans">
    <title>choiceanswer</title>
</head>
<body>
    <h3>答え: {{ question.mean }}</h3>
    <p>{{ question.vocab }}</p>
    <form action="{% url 'word:detail' question.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="check" value="詳細ページへ">
    </form>
    {% if typ == "1" %}
        <h4>正解</h4>
    {% elif typ == "2" %}
        <h4>不正解</h4>
        <h3>あなたの回答</h3>
        <p>{{ text.vocab }}</p>
        <p>{{ text.mean }}</p>
        <form action="{% url 'word:detail' text.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="check" value="詳細ページへ">
        </form>
    {% elif typ == "3" %}
        <p>正常に選択されていません</p>
    {% endif %}
    <br><br>
    <form action="{% url 'word:choice' %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="submit" value="戻る">
</body>
</html>